@page "/lanches"

<h3>Lanches</h3>

@if (_lanches is null)
{
    <span> Carregando lanches...</span>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var lanche in _lanches)
        {
            <tr>
                <td>@lanche.Name</td>
                <td>@lanche.Description</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Lanche>? _lanches;

    protected override async Task OnInitializedAsync()
    {
        _lanches = await LancheService.LoadLanchesAsync();
    }

}